<aside id="sidebar">
    <div class="sidebar-logo">
        <img src="{{ asset('images/logo.webp') }}" alt="Logo BC24" width="100" height="100">
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="">Signaler un produit</a></li>
            <li><a href="">Les derniers produits dangereux</a></li>
            <li><a href="">Historique de recherche</a></li>
            {# <li><a href="{{ path('report_product_route') }}">Signaler un produit</a></li>
            <li><a href="{{ path('dangerous_products_route') }}">Les derniers produits dangereux</a></li>
            <li><a href="{{ path('search_history_route') }}">Historique de recherche</a></li> #}
        </ul>
    </nav>
</aside>